.events__filter {
  display: inline-block;
}
.custom-select {
  margin: 8px 0;
  display: inline;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
}
.custom-select:active {
  border: none;
}
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
