header {
  background-image: url(../../images/bg_header.jpg);
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  z-index: 1;
  animation: fadeIn 1s;
}
.hero__wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 0;
}
.container {
  max-width: 968px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.hero__grid {
  grid-column: 1 / span 6;
}

.hero__text {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.hero__wrapper h3 {
  font-size: 2rem;
  margin: 0;
}
.hero__wrapper p {
  font-size: 1.4rem;
}

@media screen and (max-width: 968px) {
  .hero__grid {
    grid-column: 1 / span 10;
    padding: 0 2rem;
  }
  .hero__text {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .hero__wrapper h3 {
    font-size: 1.8rem;
    margin: 0;
  }
  .hero__wrapper p {
    font-size: 1.2rem;
  }
}
