.payment__cards{
    display : grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    margin: 24px 0;
}
.payment-card{
    transition: all 200ms ease-in-out;
    cursor: pointer;
    width: 250px;
    border: 1px solid #E6E6E6;
    background-color: #FAFAFA;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.payment-card__logo{
    width: 200px;
}
.payment-card--selected{
    transition: all 200ms ease-in-out;
    border-color: var(--global-company-color);
    background-color: #faeeeb;
}